.flex{
    display: flex;
}

.non-bullet{
    list-style: none;
}

.container{
    width:90%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  

}
.box{
    width: 250px;
    margin:0 10px;
    box-shadow:0 0 20px 2px rgba(red, green, blue, alpha);
    transition: 1s;
    display:table;
}
.box img{
    display: block;
    width: 50%;
    border-radius: 5px;
}
.box:hover{
    transform:scale(1.3);
    z-index:2;    
}
.imgflex{
    display: flex;
    justify-content: center;
    gap: 20px;

}
