@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --primary-color:#fb923c;
}

html,body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* font-size: 1.25em; */
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
}

.btn-primary{
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    padding: 5px 10px;
    color: white;
}


a{
    text-decoration: none;
    color: black;
}

a:hover{
    border-bottom: 2px solid var(--primary-color);
}


.flex{
    display: flex;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.gap{
    gap: 20px;
}

.common-padding{
    padding: 20px;
}

.non-bullet{
    list-style-type: none;
}

.background-img{
    background-image: url(./images/gale-book.jpg);
    width:100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.hero{
    width: 100%;
    height: 400px;
}

.move-right{
    justify-content: right;
}

.align-center{
    align-items: center;
}

.container{
    width:90%;
    padding: 50px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.box{
    width: 250px;
    margin:0 10px;
    box-shadow:0 0 20px 2px rgba(red, green, blue, alpha);
    transition: 1s;
}

.box img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
.box:hover{
    transform:scale(1.3);
    z-index:2;    
}

.background-white{
    background-color: white;
}
